.da-status-toast-overlay {
  position: fixed;
  inset: 0;
  background: rgb(255 255 255 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.da-status-toast {
  width: 280px;
  background: var(--s2-blue-800);
  line-height: 48px;
  border-radius: 6px;
  filter: drop-shadow(rgb(0 0 0 / 15%) 0 1px 4px);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #FFF;
  font-size: 14px;
  overflow: hidden;
}

.da-status-toast-title {
  font-weight: 700;
  padding: 0 12px 0 40px;
  margin: 0;
}

.da-status-toast-description {
  line-height: 1.6;
  padding: 6px 12px;
  margin: 0;
  background: rgb(255 255 255 / 10%);
}

.da-status-toast-type-info .da-status-toast-title {
  background: var(--s2-blue-800) url('/blocks/browse/img/Smock_InfoOutline_18_N.svg') 12px 50% no-repeat;
}

